* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* cách số 1 để đưa cả nội dung ra giữa khi không cần xét height */
/* html {
  height: 100%;
} */

body {
  /* min-height: 100%;*/
  min-height: 100vh;
  font-family: "Lexend Deca", sans-serif;
  font-size: 15px;
  color: #fff;
  line-height: 1.67;
  display: flex;
  justify-content: center;
}
.container {
  width: 1440px;
  max-width: 100%;

  /* margin-left: auto;
  margin-right: auto; */
  align-items: center;
  display: flex;
  justify-content: center;
  padding: 16px;
}
.main-content {
  width: 920px;
  display: flex;
}
.content-item {
  flex: 1;
  padding: 48px;
  border: 0;
}
.content-item:first-child {
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
}
.content-item:last-child {
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
}
img {
  width: 64px;
  height: 40px;
  /* margin-top: 48px; */
  margin-bottom: 36px;
}
.content-item--orange {
  background-color: #e28625;
}
.content-item--green {
  background-color: #006971;
}
.content-item--darkgreen {
  background-color: #004140;
}
.content-item__title {
  color: #f2f2f2;
  font-size: 40px;
  font-weight: 700;
  line-height: 1.4;
  text-transform: uppercase;
  margin-bottom: 24px;
}
.content-item__description {
  margin-bottom: 84px;
}
.content-item__button--orange {
  color: #e28625;
}
.content-item__button--green {
  color: #006971;
}
.content-item__button--darkgreen {
  color: #004140;
}
.content-item__button {
  width: 146px;
  height: 48px;
  background-color: #f2f2f2;
  border: 0;
  border-radius: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 15px;
  line-height: 1.67;
}
.content-item__button:hover {
  border: 2px solid #fff;
  background-color: transparent;
  color: #fff;
  cursor: pointer;
}
@media screen and (max-width: 768px) {
  .container {
    height: auto;
  }
  .main-content {
    width: 328px;
    flex-direction: column;
    align-items: center;
  }
  .content-item:first-child {
    border-top-right-radius: 8px;
    border-bottom-left-radius: 0;
  }
  .content-item:last-child {
    border-bottom-left-radius: 8px;
    border-top-right-radius: 0px;
  }
}
